<ActionBar title="Authentication" class="action-bar"></ActionBar>

<StackLayout verticalAlignment="center" class="form">

    <Label class="h2" text="Boring Contact App"></Label>

    <Label [text]="user | json"></Label>

    <StackLayout class="input-field">
        <TextField hint="Email" keyboardType="email" [(ngModel)]="user.email"></TextField>
    </StackLayout>

    <StackLayout class="input-field">
        <TextField hint="Password" secure="true" [(ngModel)]="user.password"></TextField>
    </StackLayout>

    <ng-container *ngIf="!signup">
        <Button class="btn btn-primary" text="Login" (tap)="login()"></Button>
        <Button class="btn btn-secondary" text="Sign up" (tap)="signup = true"></Button>
    </ng-container>

    <ng-container *ngIf="signup">
        <TextField hint="Confirm Password" secure="true" [(ngModel)]="confirm"></TextField>
        <Button class="btn btn-primary" text="Back to Login" (tap)="signup = false"></Button>
        <Button class="btn btn-primary" text="Register" (tap)="register()"></Button>
    </ng-container>

</StackLayout>